body{
  text-align: center;
  background-image: url(../assets/img/fondonintendo.jpg);
  background-position: center;
  background-size: cover;
}
h1{
    color: white;
}

.juegos{
    text-transform: uppercase;
}

li>a{
  color: black;
  text-decoration: none;
  font-size: 25px;
}
ul{   
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    align-items: center;
    list-style: none;
 }
 